---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0;url=/es/">
  <link rel="canonical" href="https://inessentia.mx/es/">
  <title>Inessentia</title>
</head>
<body></body>
</html>
